<div id="wrapper">

  <header>
    <h1>{{title}}</h1>
    <div class="progress" *ngIf="loadedCount < totalLoadCount">
      <div class="progress-bar" role="progressbar" [style.width]="loadPercent + '%'">
        {{ loadPercent }}%
      </div>
    </div>
  </header>

  <div id="main">

    <aside>
      <nav>
        <ul class="nav nav-pills nav-stacked">
          <li>Documents</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#import-module">Import module</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="https://github.com/yujuiting/ng2-window-view/blob/master/docs/dynamic-compile.md">
            Dynamic compile <span class="glyphicon glyphicon-new-window"></span>
          </a></li>

          <hr>

          <li>Core Example</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#simple-usage">Simple Usage</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#without-service">Without Service</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#access-flow">Access Flow</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#multi-floating-window">Multi Floaing Window</a></li>
          <li>Core API</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#core-api-window-view-service">WindowViewService</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#core-api-window-view-layer-service">WindowViewLayerService</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#core-api-window-view-can-close">WindowViewCanClose</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#core-api-window-view-has-result">WindowViewHasResult</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#core-api-window-view-container">WindowViewContainerComponent</a></li>

          <hr>

          <li>Components Example</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#confirm-dialog-usage">Confirm Dialog Usage</a></li>
          <li>Components API</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="#components-api-confirm-dialog">CondirmDialogComponent</a></li>
          <li>Others</li>
          <li role="presentation" class="nav-item"><a class="nav-link" href="https://github.com/yujuiting/ng2-window-view">
            Github <span class="glyphicon glyphicon-new-window"></span>
          </a></li>
        </ul>
      </nav>
    </aside>

    <div id="page" class="container">

      <section id="import-module" class="jumbotron">
        <h2>Import Module</h2>
        <pre class="language-typescript"
             [innerHTML]="importModuleExample"></pre>
      </section>

      <section id="simple-usage" class="jumbotron">
        <h2>Simple Usage</h2>

        <h3>Example</h3>
        <app-simple-usage></app-simple-usage>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('simple-usage')">
            <a class="nav-link" (click)="simpleUsageFilename = filename"
               [class.active]="simpleUsageFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['simple-usage'][simpleUsageFilename]?.type"
             [innerHTML]="files['simple-usage'][simpleUsageFilename]?.html"></pre>
      </section>

      <section id="without-service" class="jumbotron">
        <h2>Without Service</h2>

        <h3>Example</h3>
        <app-without-service></app-without-service>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('without-service')">
            <a class="nav-link" (click)="withoutServiceFilename = filename"
               [class.active]="withoutServiceFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['without-service'][withoutServiceFilename]?.type"
             [innerHTML]="files['without-service'][withoutServiceFilename]?.html"></pre>
      </section>

      <!--<section id="window-control" class="jumbotron">
        <h2>Window Control</h2>

        <h3>Example</h3>
        <window-control></window-control>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('window-control')">
            <a class="nav-link" (click)="windowControlFilename = filename"
               [class.active]="windowControlFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['window-control'][windowControlFilename]?.type"
             [innerHTML]="files['window-control'][windowControlFilename]?.html"></pre>
      </section>-->

      <section id="access-flow" class="jumbotron">
        <h2>Access Flow</h2>

        <h3>Example</h3>
        <app-access-flow></app-access-flow>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('access-flow')">
            <a class="nav-link" (click)="accessFlowFilename = filename"
               [class.active]="accessFlowFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['access-flow'][accessFlowFilename]?.type"
             [innerHTML]="files['access-flow'][accessFlowFilename]?.html"></pre>
      </section>

      <section id="multi-floating-window" class="jumbotron">
        <h2>Multi Floating Window</h2>

        <h3>Example</h3>
        <app-multi-floating-window></app-multi-floating-window>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('multi-floating-window')">
            <a class="nav-link" (click)="MultiFloatingWindowFilename = filename"
               [class.active]="MultiFloatingWindowFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['multi-floating-window']?.type"
             [innerHTML]="files['multi-floating-window'][MultiFloatingWindowFilename]?.html"></pre>
      </section>

      <section id="core-api" class="jumbotron">
        <h2>Core API</h2>

        <h3 id="core-api-window-view-service">WindowViewService</h3>
        <pre [class]="'language-' + files['core-api']['window-view.service.d.ts']?.type"
             [innerHTML]="files['core-api']['window-view.service.d.ts']?.html"></pre>

        <h3 id="core-api-window-view-layer-service">WindowViewLayerService</h3>
        <pre [class]="'language-' + files['core-api']['window-view-layer.service.d.ts']?.type"
             [innerHTML]="files['core-api']['window-view-layer.service.d.ts']?.html"></pre>

        <h3 id="core-api-window-view-can-close">WindowViewCanClose</h3>
        <pre [class]="'language-' + files['core-api']['window-view-can-close.d.ts']?.type"
             [innerHTML]="files['core-api']['window-view-can-close.d.ts']?.html"></pre>
        
        <h3 id="core-api-window-view-has-result">WindowViewHasResult</h3>
        <pre [class]="'language-' + files['core-api']['window-view-has-result.d.ts']?.type"
             [innerHTML]="files['core-api']['window-view-has-result.d.ts']?.html"></pre>

        <h3 id="core-api-window-view-container">WindowViewContainer</h3>
        <pre [class]="'language-' + files['core-api']['window-view-container.component.d.ts']?.type"
             [innerHTML]="files['core-api']['window-view-container.component.d.ts']?.html"></pre>

      </section>

      <hr>

      <section id="confirm-dialog-usage" class="jumbotron">
        <h2>Confirm Dialog</h2>

        <h3>Example</h3>
        <app-confirm-dialog-usage></app-confirm-dialog-usage>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              class="nav-item"
              *ngFor="let filename of fileList('confirm-dialog-usage')">
            <a class="nav-link" (click)="confirmDialogUsageFilename = filename"
               [class.active]="confirmDialogUsageFilename === filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [class]="'language-' + files['confirm-dialog-usage']?.type"
             [innerHTML]="files['confirm-dialog-usage'][confirmDialogUsageFilename]?.html"></pre>
      </section>

      <section id="components-api" class="jumbotron">
        <h2>Components API</h2>

        <h3 id="components-api-confirm-dialog">ConfirmDialogComponent</h3>
        <pre [class]="'language-' + files['components-api']['confirm-dialog.component.d.ts']?.type"
             [innerHTML]="files['components-api']['confirm-dialog.component.d.ts']?.html"></pre>

      </section>

    </div>

  </div>

</div>