<div class="container">
  <header>
    <h1>{{title}}</h1>
  </header>

  <div class="row">
    <div class="col-sm-3 .col-md-1">
      <nav>
        <ul class="nav nav-pills nav-stacked">
          <li>Components</li>
          <li role="presentation"><a href="#confirm-dialog-usage">Confirm Dialog Usage</a></li>
          <li>Basis</li>
          <li role="presentation"><a href="#simple-usage">Simple Usage</a></li>
          <li role="presentation"><a href="#without-service">Without Service</a></li>
          <li role="presentation"><a href="#window-control">Window Control</a></li>
          <li role="presentation"><a href="#access-flow">Access Flow</a></li>
          <li role="presentation"><a href="#api">API</a></li>
          <li role="presentation"><a href="https://github.com/yujuiting/ng2-window-view">Github</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-9 .col-md-11">

      <section id="confirm-dialog-usage" class="jumbotron">
        <h2>Confirm Dialog</h2>

        <h3>Example</h3>
        <confirm-dialog-usage></confirm-dialog-usage>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              *ngFor="let filename of fileList('confirm-dialog-usage')"
              [class.active]="confirmDialogUsageFilename === filename">
            <a (click)="confirmDialogUsageFilename = filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [innerHTML]="files['confirm-dialog-usage'][confirmDialogUsageFilename]"></pre>
      </section>

      <hr>

      <section id="simple-usage" class="jumbotron">
        <h2>Simple Usage</h2>

        <h3>Example</h3>
        <simple-usage></simple-usage>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              *ngFor="let filename of fileList('simple-usage')"
              [class.active]="simpleUsageFilename === filename">
            <a (click)="simpleUsageFilename = filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [innerHTML]="files['simple-usage'][simpleUsageFilename]"></pre>
      </section>

      <section id="without-service" class="jumbotron">
        <h2>Without Service</h2>

        <h3>Example</h3>
        <button class="btn btn-default" (click)="showIsolateWindow = true">Open Window</button>
        <isolate-window *ngIf="showIsolateWindow" (close)="showIsolateWindow = false"></isolate-window>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              *ngFor="let filename of fileList('without-service')"
              [class.active]="withoutServiceFilename === filename">
            <a (click)="withoutServiceFilename = filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [innerHTML]="files['without-service'][withoutServiceFilename]"></pre>
      </section>

      <section id="window-control" class="jumbotron">
        <h2>Window Control</h2>

        <h3>Example</h3>
        <window-control></window-control>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              *ngFor="let filename of fileList('window-control')"
              [class.active]="windowControlFilename === filename">
            <a (click)="windowControlFilename = filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [innerHTML]="files['window-control'][windowControlFilename]"></pre>
      </section>

      <section id="access-flow" class="jumbotron">
        <h2>Access Flow</h2>

        <h3>Example</h3>
        <access-flow></access-flow>

        <h3>Code</h3>
        <ul class="nav nav-tabs">
          <li role="presentation"
              *ngFor="let filename of fileList('access-flow')"
              [class.active]="accessFlowFilename === filename">
            <a (click)="accessFlowFilename = filename">{{ filename }}</a>
          </li>
        </ul>
        <pre [innerHTML]="files['access-flow'][accessFlowFilename]"></pre>
      </section>

      <section id="api" class="jumbotron">
        <h2>API</h2>

        <h3>WindowViewService</h3>
        <pre [innerHTML]="files['API']['window-view.service.d.ts']"></pre>

        <h3>WindowViewCanClose</h3>
        <pre [innerHTML]="files['API']['window-view-can-close.d.ts']"></pre>

        <h3>WindowViewContainer</h3>
        <pre [innerHTML]="files['API']['window-view-container.component.d.ts']"></pre>

      </section>
    </div>
  </div>

</div>
<window-view-outlet></window-view-outlet>